body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px auto;
    background-color: #9FE6F8;
}

label, input, textarea, button {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: #25D366;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1ebe57;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
