h1 {
    text-align: center;
    color: rgb(68, 94, 188);
    font-size: 50px;

}

header h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

header{
    display: flex;
    background-color: rgb(159, 230, 248);
    color: white;
    padding: 20px;
    border: 5px solid #83a3fc;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.faixa {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #040457;
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

footer {
    background-color: rgb(18, 129, 240);
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-top: auto;
}

.baixo p {
    margin: 0;                
    font-size: 14px;
}


.img-carrosel {
    width: 100%;
    object-fit: cover;
    height: 300px;
}