body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f6ff;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #0F5FA6;
    color: white;
}

header h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

header h2 {
    font-size: 18px;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    font-weight: 400;
}

.quadrado {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.quadrado h3 {
    margin-top: 25px;
    font-size: 22px;
    color: #000000;
}

.quadrado ul {
    margin: 10px 0 20px 20px;
}

.quadrado ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

.quadrado p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}

button {
    text-decoration: none;
    color: #000000;
}

button:hover {
    font-weight: bold;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
    color: black;
}
